*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    min-height: 100svh;
    overflow: scroll;
    font-family: 'Roboto Condensed', sans-serif;
}
section{
    width: 100%;
    background: #f3f5f8;
    position: relative;
}
.navbar{
    width: 100%;
    padding-right: 50px;
    background: #fff; 
    z-index: 1000;
}
#brand{
    font-size: 3vw;
    color: #008A94;
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 1px;
    padding-left: 50px;
}
.nav-link{
    color: #3d535f;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    gap: 3px;
    font-size: 20px;
    font-family: sans-serif;
}
.nav-link:active,.nav-link:focus,.nav-link:hover{
    color: #008A94;
} 
.dropdown-item{
    color: #3d535f;
    text-align: center;
}
.dropdown-item:active,.dropdown-item:focus,.dropdown-item:hover{
    background-color: #008A94;
    border-radius: 50px;
} 
.dropdown-menu{
    background-color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100svh;
    align-items: center;
}
#textcontainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100svh;
    justify-content: center;
    padding-top: 250px;
}
.topline{
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
#midline{
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}
.fittext{
    color: #008A94;
}
#mes{
    font-size: 1.2em;
    color:#3d535f;
    font-family: sans-serif;
}
#mtoggler{
    width: 300px;
    outline:none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.6);
}
#rbutton{
    width: 150px;
    outline:none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
    color: #fff;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,138,148,1) 35%, rgba(0,212,255,1) 100%);
    margin-left: 20px;
    margin-top: 10px;
    letter-spacing: 1px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.6);
}
#mtoggler:hover{
    background-color:#008A94;
}
.navbar-toggler{
    width: 50px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler div{
    margin: 0;
    padding: 0;
}
.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #3d535f;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar{
    margin-top: 0px;

}
.navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}
.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .toggler-icon{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,138,148,1) 35%, rgba(0,212,255,1) 100%);
}
#imagecontainer{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.imagebox{
    position: inherit;
    min-height: 55svh;
    margin-right: 60vw;
} 
#model{
    position: absolute;
    height: 1000px;
    width: 1000px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 500px;
}
.blob{
    position: absolute;
    top: 60%;
    left: 40%;
    height: 28dvw;
    width: 28dvw;
    background: #008A94;
    transform: translate(-50%,-55%);
    filter: saturate(200%);
    animation: animateblob 8s linear infinite;
}
#StaticRegistrationLabel{
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 2px;
}
.modal-header{
    margin: 0 auto;
    border: none;
}
.modal-content{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,138,148,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
    color: #fff;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"]{
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.form-control:focus{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,138,148,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
}
#close, #submit{
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}
.valid-feedback{
    color: #fff;
    padding-left: 10px;
}
@keyframes animateblob {
    0%,100%{
        border-radius: 45% 55% 70% 35% / 70% 30% 90% 40%;
    }
    25%{
        border-radius: 55% 45% 30% 35% / 50% 30% 60% 10%;
    }
    50%{
        border-radius: 65% 35% 35% 65% / 40% 60% 30% 70%;
    }
    25%{
        border-radius: 35% 65% 60% 40% / 70% 30% 40% 60%;
    }
}

body::before{
    content: 'XS';
    color: red;
    font-size: 17rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
}

@media screen and (max-width: 992px) {
    body{
        overflow: auto;
    }
    #brand{
        font-size: 2rem;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    #imagecontainer{
        position: static;
        margin-top: -100px;
    }
    #model{
       position: static;
       margin-left: 350px; 
    }
    .blob{
        top: 60%;
        left: 38%;
        height: 50vw;
        width: 45vw;
    }
    i.bx {
        visibility: hidden;
    }
    .nav-link{
        border-bottom: 1px solid #008A94;
        background: transparent;
    }
}

@media screen and (min-width: 992px){
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 0;
      }
}

@media screen and (max-width: 576px) {
    #imagecontainer{
        display: none;
    }
}

@media screen and (max-width: 450px){
     .navbar-toggler{
        font-size: 2rem;  
        margin-top: -50px;
        width: 30px;
        margin-left: 10px;
    }
}

@media (min-width: 576px){
    body::before{
        content: 'SM';
    }
}

@media (min-width: 768px){
    body::before{
        content: 'MD';
    }
}


@media (min-width: 992px){
    body::before{
        content: 'LG';
    }
}

@media (min-width: 1200px){
    body::before{
        content: 'XL';
    }
}

@media (min-width: 1400px){
    body::before{
        content: 'XXL';
    }
}

